.Summary {
  display: none;
}

.Summary.visible {
  display: block;
}

.tracklist {
  .active {
    color: white;
  }

  .track {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
    padding-left: 0;
    border-bottom: 1px solid #ccc;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}

@keyframes squiggleAnimation {
  0%, 100% {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(2);
  }
}

.squiggle {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  animation: squiggleAnimation 1.5s ease-in-out infinite;
}

.squiggle:not(:last-child) {
  margin-right: 4px;
}