.Card {
    width: 125px;
    min-height: 80px; // Adjust height for spike appearance
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 14px;
}

//pulse animation for the current card
@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scale(0.92);
    }
    20% {
        transform: scale(1.0);
    }
    30% {
        transform: scale(0.92);
    }
    40% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.92);
    }
    60% {
        transform: scale(1.0);
    }
    70% {
        transform: scale(0.92);
    }
    80% {
        transform: scale(1.0);
    }
    90% {
        transform: scale(0.92);
    }
    100% {
        transform: scale(1.0);
    }
}

.Card-current {
    //make the current card bigger
    z-index: 1;
    background: rgba(255, 255, 250, 0.25);

    .Card-pulse {
        // Animation for the current card
        animation: pulse 8.0s infinite;
        // Animation 
    }
}

.Card-other {
    // fade out the other cards
    opacity: 0.3;
}

.Card-editMode {
    position: relative;
    opacity: 1 !important; // Ensure the card is fully visible in edit mode
    background-color: transparent; // Make background transparent in edit mode
    border: 1px dashed #888; // Add a dashed border in edit mode
    &:hover {
        background-color: rgba(255, 255, 255, 0.5); // Lighten background on hover
    }
    width: 150px;
    height: 150px;
    transition: border 2s ease, height 1s ease; // Smooth transition for border, width, and height
}