.Card {
    position: absolute;
    width: 200px;
    height: 100px; // Adjust height for spike appearance
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    // transform-origin: bottom center; // Spoke effect
}

.Card-current {
    //make the current card bigger
    z-index: 1;
}

.Card-other {
    // fade out the other cards
    opacity: 0.5;
}