.Wheel {
  transition: transform 5.3s ease-in-out;
  border-radius: 50%;
}

.Wheel-container {
  position: fixed;
  right: 0;
  width: 100vw; // Use viewport width
  height: 100vh; // Use viewport height
  overflow: hidden; // Prevent overflow
}

.Wheel-editMode {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px dashed #888;
  border-radius: 16px;
  width: 45%;
  left: 53vw;
  flex-wrap: wrap;
  gap: 24px;
  height: min-content;
  top: 130px;
  padding: 24px;
  overflow: auto;
  height: 550px;
  transition: background-color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
  // make scrollbar invisible

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.ball {
  // how to make it move up little by little
  //adjust cubic-bezier to make it move more smoothly
  animation: bounceAcross 10s infinite linear;
  top: -80px;
  position: absolute;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  // There are multiple elements with class ball, how do I select the first one
  // and make it move up little by little
  &:nth-of-type(0) {
    animation-delay: 2s;
  }
  &:nth-of-type(1) {
    animation-delay: 1s;
  }
  &:nth-of-type(2) {
    animation-delay: 2s;
  }
}

//Ball animation
@keyframes bounceAcross {
  0% {
    transform: translateX(0) translateY(0);
  }
  2.5% {
    transform: translateX(2.5vw) translateY(-12.5px);
  }
  5% {
    transform: translateX(5vw) translateY(-25px);
  }
  7.5% {
    transform: translateX(7.5vw) translateY(-37.5px);
  }
  10% {
    transform: translateX(10vw) translateY(-50px);
  }
  12.5% {
    transform: translateX(12.5vw) translateY(-62.5px);
  }
  15% {
    transform: translateX(15vw) translateY(-75px);
  }
  17.5% {
    transform: translateX(17.5vw) translateY(-62.5px);
  }
  20% {
    transform: translateX(20vw) translateY(-50px);
  }
  22.5% {
    transform: translateX(22.5vw) translateY(-37.5px);
  }
  25% {
    transform: translateX(25vw) translateY(-25px);
  }
  27.5% {
    transform: translateX(27.5vw) translateY(-37.5px);
  }
  30% {
    transform: translateX(30vw) translateY(-50px);
  }
  32.5% {
    transform: translateX(32.5vw) translateY(-62.5px);
  }
  35% {
    transform: translateX(35vw) translateY(-75px);
  }
  37.5% {
    transform: translateX(37.5vw) translateY(-87.5px);
  }
  40% {
    transform: translateX(40vw) translateY(-100px);
  }
  42.5% {
    transform: translateX(42.5vw) translateY(-87.5px);
  }
  45% {
    transform: translateX(45vw) translateY(-75px);
  }
  47.5% {
    transform: translateX(47.5vw) translateY(-62.5px);
  }
  50% {
    transform: translateX(50vw) translateY(-50px);
  }
  52.5% {
    transform: translateX(52.5vw) translateY(-62.5px);
  }
  55% {
    transform: translateX(55vw) translateY(-75px);
  }
  57.5% {
    transform: translateX(57.5vw) translateY(-87.5px);
  }
  60% {
    transform: translateX(60vw) translateY(-100px);
  }
  62.5% {
    transform: translateX(62.5vw) translateY(-87.5px);
  }
  65% {
    transform: translateX(65vw) translateY(-75px);
  }
  67.5% {
    transform: translateX(67.5vw) translateY(-62.5px);
  }
  70% {
    transform: translateX(70vw) translateY(-50px);
  }
  72.5% {
    transform: translateX(72.5vw) translateY(-37.5px);
  }
  75% {
    transform: translateX(75vw) translateY(-25px);
  }
  77.5% {
    transform: translateX(77.5vw) translateY(-37.5px);
  }
  80% {
    transform: translateX(80vw) translateY(-50px);
  }
  82.5% {
    transform: translateX(82.5vw) translateY(-62.5px);
  }
  85% {
    transform: translateX(85vw) translateY(-75px);
  }
  87.5% {
    transform: translateX(87.5vw) translateY(-62.5px);
  }
  90% {
    transform: translateX(90vw) translateY(-50px);
  }
  92.5% {
    transform: translateX(92.5vw) translateY(-37.5px);
  }
  95% {
    transform: translateX(95vw) translateY(-25px);
  }
  97.5% {
    transform: translateX(97.5vw) translateY(-12.5px);
  }
  100% {
    transform: translateX(100vw) translateY(0);
  }
}
