.Wheel {
    transition: transform 5.3s ease-in-out;
}

.Wheel-container {
    position: fixed;
    right: 0;
    width: 100vw; // Use viewport width
    height: 100vh; // Use viewport height
    overflow: hidden; // Prevent overflow
}