.Recorder {
  position: fixed;
  width: 370px;
  height: 370px;
  z-index: 10;
  top: 80px;
  left: calc(50vw - 200px);

  // Add a carat to the top of the recorder
  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(50% + 22px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fefefe;
  }
}

.Recorder-content {
  position: relative;
  background-color: #fefefe;
  margin: auto auto;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 370px;
  height: 370px;
}
